- if authenticated?.nil?
  %p You are not logged in!
  %p
    %a{href: "/login"} Login

- else
  %form{method: 'post'}
    %p
      Title:
      %input{type: 'text', name: 'title'}
        %p
      Address:
      %input{type: 'text', name: 'address'}

    %button Submit

  - @mail_lists.each do |mail_list|
    %p= mail_list['name']
    %a{href: "/contents/#{mail_list[0]}" }= mail_list[1]
    %p
      %a{href: "/lists/#{mail_list[0]}/delete" } Delete
      %a{href: "/lists/#{mail_list[0]}/checkout" } -
      %a{href: "/lists/#{mail_list[0]}/checkin" } +